@import url(https://fonts.googleapis.com/css?family=Ubuntu:300,300i,400,400i,500,500i,700,700i&subset=cyrillic);body {
  font-family: 'Ubuntu', sans-serif;
  background-color: #2f2f2f;
  margin: 0;
  color: white;
}

header {
  background: #3a82a6;
  background: -webkit-gradient(linear, left top, right top, from(#3a82a6), to(#3a5ea6));
  background: linear-gradient(to right, #3a82a6 0%, #3a5ea6 100%);
  background-color: #3a77a6;
  width: 100%;
  padding: 32px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.submenu {
  width: 100%;
  background: white;
  padding: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.submenu a:link,
.submenu a:visited {
  text-decoration: none;
  color: #202020;
}

.submenu a:hover {
  text-decoration: underline;
}

.submenu div {
  margin: auto;
  width: 800px;
}

.submenu div ul {
  font-size: 14px;
  margin: 0;
  padding: 0;
}

.submenu div li {
  list-style-type: none;
  float: left;
  margin-left: 8px;
  padding-right: 8px;
  border-right: thin solid gray;
}

.submenu div li:first-of-type {
  margin-left: 0;
}

.submenu div li:last-of-type {
  padding-right: 0;
  border-right: 0;
}

.header-wrapper {
  max-width: 800px;
  margin: auto;
}

.header-wrapper .logo {
  height: 66px;
  width: 66px;
  float: left;
  background: url("/img/logo.svg") center no-repeat;
  background-size: contain;
}

.header-wrapper .menu {
  float: right;
}

.header-wrapper ul {
  margin: 0;
  padding: 0;
}

.header-wrapper h1 {
  display: inline-block;
  font-size: 24px;
  margin-top: 0;
  font-weight: normal;
}

.header-wrapper li {
  list-style-type: none;
  float: left;
  margin-left: 8px;
  padding-right: 8px;
  border-right: thin solid white;
}

.header-wrapper li a {
  text-decoration: none;
  color: white;
}

.header-wrapper li:first-of-type {
  margin-left: 0;
}

.header-wrapper li:last-of-type {
  padding-right: 0;
  border-right: 0;
}

.slider {
  background: url("/img/1.png") no-repeat;
  background-size: cover;
  height: 70px;
  padding: 256px 0 32px;
  margin-bottom: 64px;
}

.slider div {
  margin: 0 auto;
  max-width: 800px;
}

.slider div strong {
  font-size: 48px;
}

main {
  margin: auto;
  max-width: 800px;
}

main .post {
  margin-bottom: 48px;
  width: 85%;
}

main img {
  width: 120px;
  height: 60px;
}

main .left {
  float: left;
  width: 512px;
}

main .right {
  float: right;
  width: 256px;
}

main .left-column {
  width: 50%;
  float: left;
}

main .right-column {
  width: 50%;
  float: left;
}

main .picture {
  width: 100%;
  height: 96px;
  background-size: cover;
}

main .post-href {
  color: white;
  font-weight: bold;
  text-decoration: none;
}

main .announcement {
  margin-bottom: 48px;
}

main .announcement h3 {
  width: 176px;
}

main .announcement:last-of-type {
  margin-bottom: 0;
}

main .circle {
  background: #3a82a6;
  background: -webkit-gradient(linear, left top, right top, from(#3a82a6), to(#3a5ea6));
  background: linear-gradient(to right, #3a82a6 0%, #3a5ea6 100%);
  width: 64px;
  height: 64px;
  border-radius: 50%;
  float: left;
  margin-right: 16px;
}

main .circle div {
  margin: 11px 10px;
  font-weight: bold;
  text-align: center;
}

main .an-href {
  color: white;
  float: left;
  font-weight: bold;
  margin-top: 30px;
  text-decoration: none;
}

main .title {
  color: inherit;
  text-decoration: none;
  float: left;
  margin: 0;
}

main .title a {
  text-decoration: none;
  color: white;
}

.footer-bg {
  background: #3a82a6;
  background: -webkit-gradient(linear, left top, right top, from(#3a82a6), to(#3a5ea6));
  background: linear-gradient(to right, #3a82a6 0%, #3a5ea6 100%);
  height: 50px;
  width: 100%;
  margin: 0 auto;
}

.footer-bg .wtf {
  width: 800px;
  margin: 0 auto;
}

.footer-bg .wtf .notrggu {
  padding-top: 15px;
  float: right;
}

.footer-bg .wtf .rggu {
  padding-top: 15px;
  float: left;
}

.map {
  margin-top: 150px;
}

.clear {
  clear: both;
}

