// All columns
.homePageNews-leftColumn, .homePageNews-centerColumn, .homePageNews-rightColumn
  float: left

  width: 30%

// All columns but the
.homePageNews-leftColumn, .homePageNews-centerColumn
  margin-right: 5%

// Responsive
@media screen and (max-width: 512px)
  main
    .homePageNews-leftColumn, .homePageNews-centerColumn, .homePageNews-rightColumn
      float: none

      margin-right: 0

      width: 100%